body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}

img {
    float: left;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between; /* This will space out the items evenly */
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: none;
    background-color: white;
}

main {
    padding: 20px;
}

.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translate(-50%);
    display: flex;
  }
  .wrapper .sidebar .social_media a{
    display: block;
    width: 30px;
    background: red;
    line-height: 30px;
    text-align: center;
    margin: 0.5px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}